
<h1>School</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add
</button>

<table  id="table_id" class="display">
    <thead>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Book</th>
        <th>Roll</th>
        <th>Registration</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>

    </tbody>


</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="/student" method="post" enctype="application/x-www-form-urlencoded">
                <div class="modal-body">

                    <input type="text" id="addName" name="name" placeholder="Name">
                    <select name="class_id">
                        <% data.class.forEach(function(item){ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% }); %>
                    </select>
                    <select name="book_id">
                        <% data.book.forEach(function(item){ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% }); %>
                    </select>
                    <input type="text" id="addRoll" name="roll" placeholder="Roll Number">
                    <input type="text" id="addRegistration" name="registration" placeholder="Registration">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

            </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/student/update" method="post" enctype="application/x-www-form-urlencoded">
                <div class="modal-body">

                    <input type="text" id="editName" name="name" placeholder="Name">
                    <select name="class_id" id="editClass">
                        <% data.class.forEach(function(item){ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% }); %>
                    </select>
                    <select name="book_id" id="editBook">
                        <% data.book.forEach(function(item){ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% }); %>
                    </select>
                    <input type="text" id="editRoll" name="roll" placeholder="Roll Number">
                    <input type="text" id="editRegistration" name="registration" placeholder="Registration">
                    <input type="hidden" id="editId" name="id" value="">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready( function () {
        $('#table_id').DataTable({
            "processing": true,
            "serverSide": true,
            ajax:{
                type: "GET",
                url:"/student/serverside",
                data:function (data){
                    columnsDef:["id","name","class","book","roll","registration"]
                }
            },
            columns:[
                {data:'name'},
                {data:'class'},
                {data:'book'},
                {data:'roll'},
                {data:'registration'},
                {data:'update'},
                {data:'delete'},
            ],
            columnDefs:[

                {targets:5,
                     render:function (data,type,row,meta){
                    const rowData=encodeURIComponent(JSON.stringify(row));
                        return `<button  onclick="editbtn('${rowData}')">Update</button>`
                     }
                },
                {targets:6,
                    render:function (data,type,row,meta){
                        return `<a href="/student/delete/${row._id}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>`

                    }
                }
            ]
        });
    } );

    function editbtn(id){

        const data=JSON.parse(decodeURIComponent(id));
        $("#editName").val(data.name)
        $("#editClass").val(data.class_id)
        $("#editBook").val(data.book_id)
        $("#editRoll").val(data.roll)
        $("#editRegistration").val(data.registration)
        $("#editId").val(data._id)
        $("#exampleModalEdit").modal("show");
    }

    function addbtn(id){
        $.ajax({
            url: "class/getall",
            dataType: "json",
            type: "Get",
            async: true,
            success: function (data) {


            },
            error: function (xhr, exception, thrownError) {

            }
        });

    }

    // function addbtn(){
    //     $("#exampleModal").modal("show");
    // }

</script>
